/* Иконочный шрифт*/

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

/*Общие стили*/

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

img {
  max-width:100%;
  height: auto;
}

.img-block {
  display: block;
}

/* Index.html */

.main-header a {
  font-weight: bold;
  color: #000000;
  vertical-align: middle;
}

h1, h2 {
  font-size: 21px;
  font-weight: bold;
}

.index-find h2 {
  font-size: 30px;
}

.index-welcome-screen {
  position: relative;
  min-height: 510px;
  background: #000000 url("../img/background-photo.jpg") no-repeat;
  background-size: cover;
  background-position: top;
}

.index-welcome-screen::after {
  content: "";
  width: 1200px;
  height: 57px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: url("../img/background-mask.png");
}

.background-welcome {
  position: absolute;
  z-index: 1;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
}

.map-container {
  background: #f2f1ef url("../img/map.jpg") no-repeat;
}

.main-navigation {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;

}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  padding: 15px 0;
  width: 20%;
  text-align: center;
}

.logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.main-navigation a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba(0,0,0,0.3);
}

.main-navigation li:nth-child(2) {
  margin-right: 20%;
}

.main-navigation li:nth-child(4n) {
  margin-right: 0;
}

.main-navigation ul {
  padding: 0;
  font-size: 0;
}

.main-navigation .active-page {
  color: #766357;
}

.main-navigation .active-page:hover {
  color: #604e43;
}

.main-navigation .active-page:active {
  color: rgba(118,99,87,0.3);
}

.reasons-title-main {
  text-align: center;
  margin: 50px auto;
  width: 576px;
  font-size: 14px;
}

.reasons-block {
  font-size: 0;
}
.reasons-row {
  min-height: 255px;
}

.blue-back {
  background-color: #81b3d2;
  color: #ffffff;
}

.grey-back {
  background-color: #eeeeee;
}

.reason {
  box-sizing: border-box;
  width: 33.333333%;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  padding: 40px 48px;
  text-align: center;
}

.reason-picture {
  width: 66.666666%;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.reason-icon {
  position: relative;
  padding-top: 150px;
  padding-bottom: 60px;
}

.housing::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: url("../img/small-house-logo.png");
  width: 75px;
  height: 72px;
}

.food::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: url("../img/small-food-logo.png");
  width: 74px;
  height: 70px;
}

.gift::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: url("../img/small-gift-logo.png");
  width: 64px;
  height: 76px;
}

.index-find {
  width: 568px;
  margin: 0 auto;
  text-align: center;
}

.index-find h2 {
  padding-top: 30px;
  padding-bottom: 10px;
  line-height: 24px;
}

.index-find p {
  line-height: 24px;
  padding-bottom: 40px;
}

.btn {
  color: #ffffff;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

.btn-find {
  padding: 30px 135px;
  background: #766357;
  width: 568px;
  display: block;
  font-size: 21px;
  line-height: 26px;
  box-sizing: border-box;
}

.btn-find:focus {
  outline: none;
}

.map-container {
  position: relative;
  min-height: 550px;
}

/*Индекс форма поиск гостиниц*/

.index-form {
  width: 568px;
  min-height: 14%;
  background: #ffffff;
  margin: 0 auto;
  padding: 55px;
  box-sizing: border-box;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 0px;
  left: 316px;
}

.index-form label {
  margin-right: 15px;
}

input[name="adult"] {
  margin-left: 18px;
}

.form-arrive-date,
.form-leave-date,
.form-people {
  margin-bottom: 30px;
  position: relative;
}

.form-people {
  font-size: 0;
  margin-bottom: 50px;
}

.form-people div {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 26px;
}

.index-search-form input {
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: inherit;
  font-weight: bold;
  text-transform: inherit;
  padding: 7px 15px;
  border: none;
}

.index-search-form input:hover {
  background-color: #ebebeb;
}

.index-search-form input:focus {
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.index-search-form input[name="arrive"] {
  width: 295px;
  padding-right: 40px;
}

.index-search-form input[name="leave"] {
  width: 295px;
  padding-right: 40px;
}

.index-search-form input[name="child"],
.index-search-form input[name="adult"] {
  width: 50px;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
}

.form-arrive-date label,
.form-leave-date label,
.adult-check,
.child-check {
  position: relative;
  padding-top: 7px;
}

.icon-cal {
  position: absolute;
  font-size: 21px;
  line-height: 26px;
  border: none;
  right: 0;
  top: 7px;
  color: #c2c2c2;
  background-color: transparent;
  cursor: pointer;
}

.icon-cal:hover {
  color: #000000;
}

.icon-cal:active {
  color: #81b3d2;
}

.icon-cal:focus {
  outline: none;
}

.icon-pl,
.icon-min {
  position: absolute;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  border: none;
  color: #c2c2c2;
  background-color: transparent;
  cursor: pointer;
}

.adult-check .icon-pl {
  left: 184px;
  top: 14px;
}

.adult-check .icon-min {
  left: 114px;
  top: 14px;
}

.child-check .icon-pl {
  left: 135px;
  top: 14px;
}

.child-check .icon-min {
  left: 61px;
  top: 14px;
}

.icon-pl:hover {
  color: #000000;
}

.icon-pl:active {
  color: #81b3d2;
}

.icon-pl:focus {
  outline: none;
}

.icon-min:hover {
  color: #000000;
}

.icon-min:active {
  color: #81b3d2;
}

.icon-min:focus {
  outline: none;
}

.index-search-form .btn-submit {
  background: #81b3d2;
  width: 100%;
  padding: 20px 60px;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
}

.index-search-form .btn-submit:hover {
  background: #669ec0;
}

.index-search-form .btn-submit:active {
  background: #669ec0;
  color: rgba(255,255,255,0.3)
}

input::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}

input::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

/*Анимация для формы*/
@keyframes appear {
    from {transform: translateX(-2000px);}
    50%  {transform: translateX(-1000px);}
    100% {transform: translateX(0px);}
}

.index-form-show {
  display: block;
  animation: appear 0.3s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.5s;
}

/*Футер*/

.footer {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 0;
  padding: 20px 10px;
}

.footer-index {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
}

.footer-col {
  display: inline-block;
  width: 33.333333%;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 14px;
}

.footer-contacts {
  font-size: 21px;
  font-weight: bold;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background: #81b3d2;
  box-sizing: border-box;
  text-align: center;
}

.social-btn:nth-child(3n) {
  margin-right: 0;
}

.icon {
  font-size: 19px;
  color: #ffffff;
  line-height: 48px;
}

.icon:active {
  color: #88b6d1;
}
.social-btn:hover {
  background: #669ec0;
}

.social-btn:active {
  background: #5496bd;
}

/* Copyright через спрайт*/
.footer-copyright >* {
  display: inline-block;
  vertical-align: middle;
}

.footer-copyright p {
  margin-right: 5px;
  max-width: 90px;
}

.copyright-link {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 113px;
  height: 39px;
  background-position: -5px -5px;
}

.copyright-link:hover {
  width: 113px;
  height: 39px;
  background-position: -5px -54px;
}

.copyright-link:active {
  width: 113px;
  height: 39px;
  background-position: -5px -103px;
}

/* Catalog.html */

.wrapper-catalog {
  width: 1056px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

/* форма */
.catalog-search {
  background: #7f9ebd url("../img/catalog-background.jpg") no-repeat;
  color: #ffffff;
  padding: 30px 0;
}

.search-type {
  min-width: 13%;
}

.search-type:first-child {
  margin-right: 110px;
}

.search-type-option {
  padding: 5px 0;
}

.search-type-option:last-child {
  padding-bottom: 0;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  margin: 10px 0;
  line-height: 21px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "\2610";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  font-family: "symbols-sedona";
  font-size: 26px;
}

input[type="checkbox"]:checked + label::before {
  content: "\2611";
}

input[type="checkbox"]:disabled {
  color: #6a6a6a;
}

input[type="checkbox"]:checked:disabled {
  color: #6a6a6a;
}


/* фильтр */

.catalog-filter {
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.catalog-filter a {
  color: #000000;
}

.filter-options-sort a {
  opacity: 0.3;
}

.filter-options {
  font-size: 0;
}

.filter-options h2,
.filter-options-sort,
.filter-options-sort h3,
.filter-options-sort a,
.sort-up-down a {
  display: inline-block;
  vertical-align: middle;
}

.filter-options h2 {
  font-size: 21px;
  line-height: 26px;
  margin-right: 50px;
}

.filter-options-sort h3,
.filter-options-sort a {
  font-size: 12px;
  line-height: 18px;
}

.filter-options-sort a {
  margin-left: 33px;
  border-bottom: 1px dashed #81b3d2;
}

.filter-options-sort a:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
  opacity: 1;
}

.filter-options-sort a:active {
  color: #000000;
  border-bottom: none;
  opacity: 1;
}

.filter-options-sort .active {
  color: #81b3d2;
  opacity: 1;
  border-bottom: none;
}

.filter-options-sort .active-bc {
  color: #81b3d2;
  border-bottom: none;
  opacity: 1;
}

.sort-up-down {
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 12px;
  transform: translateX(-50%);
}

.sort-up-down a {
  width: 11px;
  height: 10px;
  vertical-align: middle;
  color: #cccccc;
  font-size: 23px;
  line-height: 20px;
}

.sort-up-down a:hover {
  color: #000000;
}

.sort-up-down a:active {
  color: #81b3d2;
}

.sort-up-down .active-sort {
  color: #81b3d2;
}

/* варианты */
.catalog-option {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding-top: 30px;
  padding-bottom: 10px;
}

.catalog-preview {
  width: 135px;
}

.catalog-item-wrap {
  width: 280px;
  height: 90px;
  margin-left: 20px;
  box-sizing: border-box;
}

.catalog-item-wrap h3 {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.catalog-item-wrap h3:hover {
  color: #81b3d2;
}

.catalog-item-wrap h3:active {
  color: #81b3d2;
  color: rgba(0,0,0,0.3);
}

.info-text {
  font-size: 0;
}

.info-text p {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 110px;
}

.info-text-type {
  margin-right: 10px;
}

.info-link {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  padding: 8px 17px;
}

.info-link-blue {
  background-color: #81b3d2;
  margin-right: 4px;
}

.info-link-blue:hover {
  background-color: #669ec0;
}

.info-link-blue:active {
  background-color: #669ec0;
  color: rgba(255,255,255,0.3);
}

.info-link-brown {
  background-color: #766357;
}

.info-link-brown:hover {
  background-color: #604e43;
}

.info-link-brown:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}

.rating {
  width: 120px;
  text-align: right;
}

.stars {
  color: #81b3d2;
  margin-bottom: 45px;
}

.rate {
  background-color: #f2f2f2;
  color: #666666;
  padding: 5px 15px;
}

/*Фильтр с ползунками в каталоге из демо*/

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title,
.search-type-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

