/* Иконочный шрифт*/

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

/*Общие стили*/

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 30px -5px #000000;
}

a {
  text-decoration: none;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

img {
  display: block;
}

/* Index */

.main-header a {
  font-weight: bold;
  color: #000000;
}

h1, h2 {
  font-size: 21px;
  font-weight: bold;
}

.index-find h2 {
  font-size: 30px;
}

.index-welcome-screen {
  position: relative;
  min-height: 510px;
  background: #000000 url("../img/background-photo.jpg") no-repeat;
  background-size: cover;
  background-position: top;
}

.background-welcome {
  position: absolute;
  z-index: 1;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
}

.background-mask {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.map-container {
  background: #f2f1ef url("../img/map.jpg") no-repeat;
}

.main-navigation {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;

}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  padding: 15px 0;
  width: 20%;
  text-align: center;
}

.logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.main-navigation a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #766357;
}

.main-navigation li:nth-child(2) {
  margin-right: 20%;
}

.main-navigation li:nth-child(4n) {
  margin-right: 0;
}

.main-navigation ul {
  padding: 0;
  font-size: 0;
}

.reasons-title-main {
  text-align: center;
  margin: 50px auto;
  width: 45%;
  font-size: 14px;
}

.reasons-block {
  font-size: 0;
}
.reasons-row {
  min-height: 255px;
}

.blue-back {
  background-color: #81b3d2;
  color: #ffffff;
}

.grey-back {
  background-color: #eeeeee;
}

.reason {
  box-sizing: border-box;
  width: 33.333333%;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  padding: 40px 48px;
  text-align: center;
}

.reason-picture {
  width: 66.666666%;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.reason-icon img {
  margin: 0 auto;
}

.index-find {
  width: 43.8%;
  margin: 0 auto;
  text-align: center;
}

.btn {
  color: #ffffff;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

.btn-find {
  padding: 30px 60px;
  background: #766357;
  width: 77.38%;
  display: block;
}

.map-container {
  position: relative;
  min-height: 430px;
}

.index-form {
  width: 44%;
  min-height: 14%;
  background: #ffffff;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
}

.index-search-form input {
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: inherit;
  font-weight: bold;
  color: #000000;
  text-transform: inherit;
  padding: 6px 10px;
}

.index-search-form input:hover {
  background-color: #ebebeb;
}


.index-search-form .btn-submit {
  background: #81b3d2;
  width: 100%;
  padding: 20px 60px;
  color: #ffffff;
}

.index-search-form .btn-submit:hover {
  background: #669ec0;
}

.index-search-form .btn-submit:active {
  background: #669ec0;
  color: rgba(255,255,255,0.3)
}

.footer {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 0;
  padding: 20px 10px;
}

.footer-index {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
}

.footer-col {
  display: inline-block;
  width: 33.333333%;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 14px;
}

.footer-contacts {
  font-size: 21px;
  font-weight: bold;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background: #81b3d2;
  box-sizing: border-box;
  text-align: center;
}

.social-btn:nth-child(3) {
  margin-right: 0;
}

.icon {
  font-size: 19px;
  color: #ffffff;
  line-height: 48px;
}

.icon:active {
  color: #88b6d1;
}
.social-btn:hover {
  background: #669ec0;
}

.social-btn:active {
  background: #5496bd;
}

/* Copyright через спрайт*/
.footer-copyright >* {
  display: inline-block;
  vertical-align: middle;
}

.footer-copyright p {
  margin-right: 5px;
  max-width: 90px;
}

.copyright-link {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 113px;
  height: 39px;
  background-position: -5px -5px;
}

.copyright-link:hover {
  width: 113px;
  height: 39px;
  background-position: -5px -54px;
}

.copyright-link:active {
  width: 113px;
  height: 39px;
  background-position: -5px -103px;
}

/* Catalog */

.wrapper-catalog {
  width: 1056px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* форма */
.catalog-search {
  background: #7f9ebd url("../img/catalog-background.jpg") no-repeat;
  color: #ffffff;
}

.search-type {
  width: 13%;
}

section p {
  font-weight: bold;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  margin: 10px 0;
  line-height: 21px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "\2610";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  font-family: "symbols-sedona";
  font-size: 26px;
}

input[type="checkbox"]:checked + label::before {
  content: "\2611";
}

input[type="checkbox"]:disabled {
  color: #6a6a6a;
}

input[type="checkbox"]:checked:disabled {
  color: #6a6a6a;
}


/* фильтр */
.catalog-filter {
  border-bottom: 1px solid grey;
}

.catalog-filter a {
  color: #000000;
}

.filter-options-sort a {
  opacity: 0.3;
}

.filter-options {
  font-size: 0;
}

.filter-options h2,
.filter-options-sort,
.filter-options-sort h3,
.filter-options-sort a,
.sort-up-down a {
  display: inline-block;
}

.filter-options h2 {
  font-size: 21px;
  line-height: 26px;
  margin-right: 50px;
}

.filter-options-sort h3,
.filter-options-sort a {
  font-size: 12px;
  line-height: 18px;
}

.filter-options-sort a {
  margin-left: 33px;
  border-bottom: 1px dashed #81b3d2;
}

.filter-options-sort a:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
  opacity: 1;
}

.filter-options-sort a:active {
  color: #000000;
  border-bottom: none;
  opacity: 1;
}

.filter-options-sort .active {
  color: #81b3d2;
  opacity: 1;
  border-bottom: none;
}

.sort-up-down {
  vertical-align: middle;
}

.sort-up-down a {
  width: 12px;
  height: 10px;
  vertical-align: middle;
  color: #cccccc;
  font-size: 23px;
  line-height: 20px;
}

.sort-up-down a:hover {
  color: #000000;
}

.sort-up-down a:active {
  color: #81b3d2;
}

/* варианты */
.catalog-option {
  border-bottom: 1px solid grey;
  padding: 30px 0;
}

.catalog-preview {
  width: 135px;
}

.catalog-item-wrap {
  width: 280px;
  height: 90px;
  margin-left: 20px;
  box-sizing: border-box;
}

.catalog-item-wrap h3 {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.catalog-item-wrap h3:hover {
  color: #81b3d2;
}

.catalog-item-wrap h3:active {
  color: #81b3d2;
  color: rgba(255,255,255,0.3);
}

.info-text {
  font-size: 0;
}

.info-text p {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.info-text-type {
  margin-right: 45px;
}

.info-link {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  padding: 8px 17px;
}

.info-link-blue {
  background-color: #81b3d2;
  margin-right: 4px;
}

.info-link-blue:hover {
  background-color: #669ec0;
}

.info-link-brown {
  background-color: #766357;
}

.info-link-brown:hover {
  background-color: #604e43;
}

.info-link-brown:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3)
}

.rating {
  width: 120px;
  text-align: right;
}

.stars {
  color: #81b3d2;
  margin-bottom: 45px;
}

.rate {
  background-color: #f2f2f2;
  color: #666666;
  padding: 5px 15px;
}



