body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 30px -5px #000000;
}

a {
  text-decoration: none;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

img {
  display: block;
}

/* Index */

.main-header a {
  font-weight: bold;
  color: #000000;
}

h1, h2 {
  font-size: 21px;
  font-weight: bold;
}

.index-find h2 {
  font-size: 30px;
}

.index-welcome-screen {
  position: relative;
  min-height: 510px;
  background: #000000 url("../img/background-photo.jpg") no-repeat;
  background-size: cover;
  background-position: top;
}

.background-welcome {
  position: absolute;
  z-index: 1;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
}

.background-mask {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.map-container {
  background: url("../img/map.jpg") no-repeat;
  overflow: hidden;
}

.main-navigation {
  position: relative;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  padding: 15px 0;
  width: 20%;
  text-align: center;
}

.logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.main-navigation a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;

}

.main-navigation li:nth-child(2) {
  margin-right: 20%;
}

.main-navigation li:nth-child(4n) {
  margin-right: 0;
}

.main-navigation ul {
  list-style: none;
  padding: 0;
  font-size: 0;
}

.reasons-title-main {
  text-align: center;
  margin: 50px auto;
  width: 45%;
  font-size: 14px;
}

.reasons-block {
  font-size: 0;
}
.reasons-row {
  min-height: 255px;
}

.reason {
  box-sizing: border-box;
  width: 33.333333%;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  padding: 40px 48px;
  text-align: center;
}

.reason-picture {
  width: 66.666666%;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.reason-icon img {
  margin: 0 auto;
}

.index-find {
  width: 43.8%;
  margin: 0 auto;
  text-align: center;
}

.btn {
  color: #ffffff;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

.btn-find {
  padding: 30px 60px;
  background: #766357;
  width: 77.38%;
  display: block;
}

.map-container {
  position: relative;
  min-height: 430px;
}

.index-form {
  width: 44%;
  min-height: 14%;
  background: #ffffff;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
}

.btn-submit {
  background: #81b3d2;
  width: 80%;
  padding: 20px 60px;
}

.footer {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 0;
  padding: 20px 10px;
}

.footer-index {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.footer-col {
  display: inline-block;
  width: 33.333333%;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 14px;
}

.footer-contacts {
  font-size: 21px;
  font-weight: bold;
}

.footer-copyright >* {
  display: inline-block;
  vertical-align: middle;
}

/* Catalog */

.catalog-search {
  background: url("../img/catalog-background.jpg") no-repeat;
  color: #ffffff;
  padding: 20px 72px;
}

.search-type {
  width: 13%;
}

section p {
  font-weight: bold;
}

.catalog-filter {
  padding: 20px 32px;
  border-bottom: 1px solid grey;
}

.catalog-filter ul {
  list-style: none;
  font-size: 0;
}

.catalog-filter li {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  margin-left: 20px;
}

.catalog-filter li:first-child {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-left: 0;
}

.catalog-filter li:last-child {
  margin-left: 550px;
}

.catalog-option {
  border-bottom: 1px solid grey;
  padding: 27px 72px;
}

.catalog-preview {
  width: 135px;
  outline: 1px solid red;
}

.catalog-item-wrap {
  width: 260px;
  outline: 1px solid red;
  margin-left: 20px;
}

.rating {
  width: 112px;
  outline: 1px solid red;
}
